<mat-form-field>
  <mat-label>Theme</mat-label>
  <mat-select
    #setTheme
    [value]="settingsService.theme$ | async"
    (selectionChange)="changeTheme(setTheme.value)"
  >
    <mat-option
      *ngFor="let theme of themes"
      [value]="theme.value"
    >
      {{ theme.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Font family</mat-label>
  <input matInput
    #setFontFamily
    [value]="settingsService.fontFamily$ | async"
    (keyup)="changeFontFamily(setFontFamily.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Font size</mat-label>
  <input matInput
    #setFontSize
    [value]="settingsService.fontSize$ | async"
    (keyup)="changeFontSize(setFontSize.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Font weight</mat-label>
  <input matInput
    #setFontWeight
    [value]="settingsService.fontWeight$ | async"
    (keyup)="changeFontWeight(setFontWeight.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Line height</mat-label>
  <input matInput
    #setLineHeight
    [value]="settingsService.lineHeight$ | async"
    (keyup)="changeLineHeight(setLineHeight.value)"
  >
</mat-form-field>
