<mat-form-field>
  <mat-label>Theme</mat-label>
  <mat-select
    #setTheme
    [value]="theme$ | async"
    (selectionChange)="changeTheme(setTheme.value)"
  >
    <mat-option value="default">Default</mat-option>
    <mat-option value="dark">Dark</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Font family</mat-label>
  <input matInput
    #setFontFamily
    [value]="fontFamily$ | async"
    (keyup)="changeFontFamily(setFontFamily.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Font size</mat-label>
  <input matInput
    #setFontSize
    [value]="fontSize$ | async"
    (keyup)="changeFontSize(setFontSize.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Font weight</mat-label>
  <input matInput
    #setFontWeight
    [value]="fontWeight$ | async"
    (keyup)="changeFontWeight(setFontWeight.value)"
  >
</mat-form-field>

<mat-form-field>
  <mat-label>Line height</mat-label>
  <input matInput
    #setLineHeight
    [value]="lineHeight$ | async"
    (keyup)="changeLineHeight(setLineHeight.value)"
  >
</mat-form-field>

<!-- <mat-form-field>
  <mat-label>Page width</mat-label>
  <input matInput
    #setPageWidth
    [value]="pageWidth$ | async"
    (keyup)="changePageWidth(setPageWidth.value)"
  >
</mat-form-field> -->
