<div [class]="isDarkMode && 'dark-theme'" style="user-select: none;">
  <mat-toolbar
    (mouseenter)="isHeaderHovered=true"
    (mouseleave)="isHeaderHovered=false"
    style="position: fixed; z-index: 1000; top: 0;"
  >
    <button mat-button (click)="sidebar.toggle()">
      <mat-icon>{{ sidebar.opened ? 'arrow_back' : 'menu' }}</mat-icon>
    </button>

    <div *ngIf="sidebar.opened || isHeaderHovered" [@fadeAnimation]>
      <button mat-button (click)="toggleDarkMode()">
        <mat-icon>{{ isDarkMode ? 'wb_sunny' : 'brightness_2' }}</mat-icon>
      </button>
      <button mat-button (click)="openSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <span style="flex: 1 1 auto;"></span>

    <img
      *ngIf="isDarkMode && isHeaderHovered"
      [@fadeAnimation]
      src="/assets/logos/white.png"
      alt="logo"
      height="40"
      style="margin-top: 3px;"
    />
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidebar
      fixedInViewport="true"
      mode="side"
      style="width: 20rem; border-right: 0;"
    >
      <mat-toolbar></mat-toolbar>
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content
      (mousewheel)="scrollRendition($event)"
      style="
        display: flex;
        justify-content: center;
        margin-top: 64px;
        height: calc(100vh - 64px);
      "
    >
      <app-drop-zone *ngIf="!isBookOpened" style="width: 100%;"></app-drop-zone>
      <app-container #renditionContainer *ngIf="isBookOpened"></app-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
