<mat-toolbar *ngIf="currentSection" color="accent" style="display: flex; justify-content: center;">
  <button mat-button
    (click)="prevChapter()"
    [disabled]="currentSection?.href===spine?.first().href"
  >
    <mat-icon>arrow_back_ios</mat-icon>
    <span>Prev Chapter</span>
  </button>
  <button mat-button
    (click)="nextChapter()"
    [disabled]="currentSection?.href===spine?.last().href"
  >
    <span>Next Chapter</span>
    <mat-icon style="margin: 0 -6px 0 6px;">arrow_forward_ios</mat-icon>
  </button>
</mat-toolbar>

<mat-accordion *ngIf="navigation" multi>
  <mat-expansion-panel
    *ngFor="let chapter of navigation.toc"
    [hideToggle]="!hasSubItems(chapter)"
    [disabled]="!hasSubItems(chapter)"
    style="box-shadow: none;"
  >
    <mat-expansion-panel-header>
      <button
        mat-button
        class="nav-item-button"
        (click)="enterSection(chapter)"
        [matTooltip]="chapter.label"
        matTooltipPosition="right"
        [ngClass]="{
          'nav-item-selected': isCurrentNavItem(chapter)
        }"
        [ngStyle]="{'max-width.rem': hasSubItems(chapter) ? 15 : 17}"
      >
        {{ chapter.label }}
      </button>
    </mat-expansion-panel-header>
    <mat-nav-list *ngFor="let section of chapter.subitems">
      <button
        mat-button
        class="nav-item-button"
        (click)="enterSection(section)"
        [matTooltip]="section.label"
        matTooltipPosition="right"
        [ngClass]="{
          'nav-item-selected': isCurrentNavItem(section)
        }"
        style="margin-left: 1rem; max-width: 17rem;"
      >
        {{ section.label }}
      </button>
    </mat-nav-list>
  </mat-expansion-panel>

  <ng-content></ng-content>
</mat-accordion>
