<mat-toolbar style="display: flex; justify-content: center;">
  <button mat-button
    (click)="prevChapter()"
    [disabled]="currentSection?.index===0"
  >
    <mat-icon>arrow_back_ios</mat-icon>
    <span>Prev Chapter</span>
  </button>
  <button mat-button
    (click)="nextChapter()"
    [disabled]="currentSection?.index>=spine?.length-1"
  >
    <span>Next Chapter</span>
    <mat-icon style="margin: 0 -6px 0 6px;">arrow_forward_ios</mat-icon>
  </button>
</mat-toolbar>

<mat-accordion *ngIf="navigation">
  <mat-expansion-panel
    *ngFor="let chapter of navigation.toc"
    [hideToggle]="chapter.subitems.length===0"
    [disabled]="chapter.subitems.length===0"
    style="box-shadow: none;"
  >
    <mat-expansion-panel-header>
      <button
        mat-button
        class="nav-item-button"
        (click)="enterSection(chapter)"
        [matTooltip]="chapter.label"
        matTooltipPosition="right"
        [disabled]="chapter.href===currentNavItem?.href || chapter.href===currentNavItem?.parent"
      >
        {{ chapter.label }}
      </button>
    </mat-expansion-panel-header>
    <mat-nav-list *ngFor="let section of chapter.subitems">
      <button
        mat-button
        class="nav-subitem-button"
        (click)="enterSection(section)"
        [matTooltip]="section.label"
        matTooltipPosition="right"
        [disabled]="section.href===currentNavItem?.href"
      >
        {{ section.label }}
      </button>
    </mat-nav-list>
  </mat-expansion-panel>

  <ng-content></ng-content>
</mat-accordion>
