/* light theme */
.light {
	color: inherit;
}

.light a {
	color: #ff4081;
}

.light ::selection {
	background-color: #d5d5d5;
}

/* dark theme */
.dark {
	color: #fafafa;
}

.dark a {
	color: #66d9ef;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
	color: white;
}

.dark ::selection {
	background-color: #bcbcbc;
}
